# База данных
DATABASE_URL="postgresql://user:password@host/database?sslmode=require"

# NextAuth / Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
AUTH_SECRET=

# Cloudinary (для загрузки превью-изображений промтов)
CLOUDINARY_CLOUD_NAME=ProStore
CLOUDINARY_API_KEY=933436527443756
CLOUDINARY_API_SECRET=qHimQxPA2ssjssRmBqWMFnblL8Q
CLOUDINARY_URL=cloudinary://933436527443756:qHimQxPA2ssjssRmBqWMFnblL8Q@dzhkev8yo